[submodule "spark_engine/vendor/spdlog"]
	path = spark_engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "spark_engine/vendor/fmt"]
	path = spark_engine/vendor/fmt
	url = https://github.com/fmtlib/fmt
